// Variables
$font-stack: "Lato",Helvetica,Arial,sans-serif;
$body-text: #484848;
$primary-color: #368393;
$secondary-color: #90CAD6;
$global-radius: 2px;
$gray-color: #888;
$bg-white: #fff;
$bg-gray: #f6f6f6;
$bg-dark-gray: #ccc;
$light-gray-color: #c4c4c4;
$border-color: #e9e9e9;

// Mixins
@mixin bg-white{
  background: #fff;
}
@mixin bg-gray{
  background: #f6f6f6;
}

@mixin flex-class{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

// Media Queries
$break-large: 1200px;
$break-medium: 768px;
$break-small: 556px;
$break-extra-small: 320px; 



