
  @import
  'abstracts/reset',
  'abstracts/variables';

  // Components
  @import
  'components/modal',
  'components/buttons',
  'components/layout-comp',
  'components/setting-comp';


body{
  font: 100% $font-stack;
  color: $body-text;
  font-size: 13px;
  letter-spacing: .02em;
  background-image: linear-gradient($bg-gray, $bg-dark-gray);
  background-attachment: fixed;

}
a{
  text-decoration: none;
  color: $primary-color;
}
h1{
  font-size: 24px;
  }
h2{
  font-size: 20px;
}
h3{
  font-size: 18px;
  }
h4{
  font-size: 16px;
  }
h5{
  font-size: 15px;
}
h6{
  font-size: 13px;
  }
.img-resposive{
  max-width: 100%;
}

.white-box{
  padding: 15px;
  @include bg-white; 
}
