.btn{
    display: inline-block;
    background: #ccc;
    color: #fff;
    padding: 8px 15px;
    text-transform: uppercase;
    border-radius: 4px;
    &:hover{
      background: darken(#ccc, 10%);
    }
  }
  .btn--primary{
    background-color: $primary-color;
    &:hover{
      background: darken($primary-color, 10%);
    }
  }
 