.layout-comp{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    left:0px;

    @media screen and (max-width: $break-small){      
        position: initial;
        transform: none;
      }
}