.modal {
    max-width: 992px;
    margin: auto;
    margin-top: 20px;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 1px 3px 12px #d4d8e0;
    position: relative;
    @media screen and (max-width: $break-medium){      
      margin: 15px;
    }  

    .modal__close{
      position: absolute;
      right: 15px;
      top: 15px;
      z-index: 9;
      cursor: pointer;
    }
    .modal__header {
      padding: 15px;
      background-color: #90CAD6;

      .modal__header__title {
        color: #fff;
        font-weight: 600;
        text-transform: uppercase
      }
    }
    .modal__body {
      padding: 5px;
      @include bg-gray;

      .flex-container{
        display: flex;
        
        @media screen and (max-width: $break-small){      
          display: block;
        }
      
        .flex-item{  
            margin: 5px;            
            overflow: hidden;
            position: relative;
            @include bg-white;
            @media screen and (max-width: $break-small){      
              width: 100%!important;
              margin: 0!important;
            }
          }
        .flex-item1{
            width: 42%;
            @media screen and (max-width: $break-small){  
              margin-bottom: 15px!important;
            }
            
          }
        .flex-item2{
            width: 58%;
            
            
          }
        .flex-item6{
            width: 50%;
            @media screen and (max-width: $break-small){  
              border: 0!important;
            }
          }
        .with-padding{
            padding: 15px;
            
          }

        .margin-0{
            margin: 0;            
          }
      }    
  
      
    }
    .modal__footer {
      padding: 10px;
      text-align: right;
      @include bg-gray;
      
    }
  }