
.setting-comp{
    .setting-comp__border-right{
        border-right: 1px solid $border-color;
    }
    .setting-comp__tab{
        text-align: right;
        @include bg-gray;
        ul{
            display: inline-block;

            li{
                a{
                    background: #fff;
                    padding: 10px 10px;
                    display: inline-block;
                    text-transform: capitalize;
                    color: $gray-color;
                    font-size: 16px;

                    img{
                        float: left;
                        margin-top: -1px;
                        margin-right: 5px;
                    }
            
                }
            
            }
        }

    }

    .setting-comp__tab-details{

        .setting-comp__tab-details__cards{
            margin-bottom: 30px; 
    
            &:last-child{
                margin-bottom: 10px; 
            }
            h6{
                font-size: 16px;
                font-weight: 600;
            }
            .setting-comp__tab-details__cards__item{
                display: flex;
                margin-top: 12px;
                @media screen and (max-width: $break-medium){
                    display: block;
                } 
                .form-control {
                    border: 1px solid $border-color;
                    padding: 5px 10px; 
                    color: $body-text;
                    border-radius: $global-radius;
                    display: block;
                    width: 100%;
                  
                    &:focus{
                      outline: none;
                      border: 1px solid $primary-color;
                    }
                  
                  }
    
            }
            .setting-comp__tab-details__cards__item--for-input{
                display: block;
                .label{
                    margin-bottom: 5px;
                    width: 100%;        
                }
            }
            input[type="radio"] {
                margin: 0;
                margin-right: 7px;
                position: relative;
                top: 2px;
            }
            .label{
                display: -ms-flexbox;
                display: flex;
                -ms-flex-align: center;
                align-items: center;
                width: 50%;
                @media screen and (max-width: $break-medium){
                    width: 100%;
                    margin-bottom: 5px;
                }        
            }
    
            .editor{
                -ms-flex: 1;
                flex: 1;
                min-width: 0;
                -ms-flex-item-align: center;
                align-self: center;
                text-align: right;
            }
        }
    }

}

